<style>
    .image {
        width: 300px;
    }

    .content {
        transform: translate(400px)
    }

    body {
        overflow-x: hidden;
    }

    .btn {
        transform: translate(-250px,200px);
    }
</style>
<div class="content">
    <h1>succesfully upgraded</h1>
    <img class="image" src="~/Images/success-icon.png" />
</div>